* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: inherit;
}
nav {
	position: sticky;
	top: 0;
}

.nav-logo {
	position: sticky;
	padding: 0px;
	height: 0px;
	top: 0;
	font-size: 1em;
	display: block;
}
/*upper corner navigation*/
.right-nav {
	position: sticky;
	margin-left: auto;
	background-color: white;
	float: right;
	padding: 0.5rem 0.75rem;
	display: block;
	top: 0;
}
.nav {
	display: inline-block;
	padding-bottom: .75px;
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: .75px;
	text-align: center;
	top: 0;
	position: sticky;
	
}

/*button on top right*/
.tuitt-button {
	position: sticky;
	background-color: #c2195b;
	border-color: transparent;
	border-radius: 300px;
	padding: 2vh;
	color: white;
	font-weight: 600;
	font-size: 1.23rem;
	width: 125px;
	display: inline-block;

}

/*upper title*/



.title {
	margin-top: 5.5rem;
	font-size: 2.66rem;
    font-family: 'Zilla Slab',serif;
    font-weight: 600;
    color: white;
    text-align: right;
    width: 45%;
    margin-left: auto;
    padding-bottom: 1.33rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    padding-right: 3.5rem;
    padding-left: 1.5rem;

}

/*subtitle*/

.subtitle {
	margin-top: -2.25rem;
    color: white;
    text-align: right;
    width: 40%;
    margin-left: auto;
    margin-right: 3.5rem;
}
/*apply button on the middle*/

.apply-button {
	display: block;
	background-color: #c2195b;
	border-color: transparent;
	border-radius: 200px;
	padding: 2.5vh;
	color: white;
	font-weight: 600;
	font-size: .90rem;
	width: 135px;
	margin-left: auto;
	margin-right: 3.5rem;
	margin-top: .5rem;

}
	
/*title on the middle*/

.title-2 {
	margin-top: 2rem;
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
	color: solid black;
}

.intro-description {
	text-align: center;
	margin-left: 10rem;
	margin-right: 10rem;
	margin-top: 7rem;
	margin-bottom: 7rem;
}

.prefooter-description {
	text-align: center;
	margin-left: 10rem;
	margin-right: 10rem;
	margin-top: 7rem;
	margin-bottom: .5rem;
}

/*background image (laptop) on top landing*/
#bg-image {
	height: 55vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: fixed;

}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);

}



.title-2 {
	font-family: 'Zilla Slab', serif;
}

.pre-footer {
	background-color: #f7fbfb;
}

.book-button {
	background-color: #336589;
	text-align: center;
	border-color: transparent;
	border-radius: 300px;
	padding: 2vh;
	color: white;
	font-weight: 600;
	font-size: 1.23rem;
	width: 125px;
	margin: auto;
	display: grid;
}

#footer {
	margin-top: 7em;
	text-align: center;
}